body {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: small;
	padding: 0;
}

#container {
	min-width: 920px;
}

textarea {
	border: 1px solid black;
	width: 100%;
	height: 200px;
}

#input-div {
	border-bottom: 1px solid #000;
	padding-top: 0px!important;
}

#input-div, #output-div {
	padding: 30px;
}

#ablurb {
	font-size: 60px;
	color: #CC6600;
	text-align: center;
	margin-top: 5px;
}

h2 {
	color: #CC6600;
    font-size: medium;
    margin: 0 0 0.25em;
}

hr {
	border-top: 1px solid #ccc !important;
	height: 1px;
	color: #FFFFFF;
	margin: 3px 0px;
	border-style: dashed none none none;
	background-color: white;
}

#moreinfo { display: none; }